@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@337&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}



@theme inline {
  --color-darkslate-50: #f7f7f7;
  --color-darkslate-100: #e3e3e3;
  --color-darkslate-200: #c9c9c9;
  --color-darkslate-300: #6b6b6b;
  --color-darkslate-400: #383838;
  --color-darkslate-500: #171717;
  --color-darkslate-600: #141414;
  --color-darkslate-700: #111111;
  --color-darkslate-800: #0e0e0e;
  --color-darkslate-900: #0b0b0b;
  --color-primary-100: rgb(var(--primary-100));
  --color-primary-200: rgb(var(--primary-200));
  --color-primary-300: rgb(var(--primary-300));
  --color-primary-400: rgb(var(--primary-400));
  --color-primary-500: rgb(var(--primary-500));
  --color-primary-600: rgb(var(--primary-600));
  --color-primary-700: rgb(var(--primary-700));
  --color-primary-800: rgb(var(--primary-800));
  --color-primary-900: rgb(var(--primary-900));
  --color-primary-900: #891321;
  --font-roboto: 'Roboto', sans-serif;
}

:root {
  --primary-100: 249 205 211;
  --primary-200: 243 163 170;
  --primary-300: 236 121 129;
  --primary-400: 230 79 89;
  --primary-500: 230 57 70;
  --primary-600: 207 47 61;
  --primary-700: 184 37 52;
  --primary-800: 160 27 43;
  --primary-900: 137 19 33;
}

[data-theme="yellow"] {
  --primary-100: 255 243 196;
  --primary-200: 255 230 128;
  --primary-300: 255 217 77;
  --primary-400: 255 204 25;
  --primary-500: 255 191 0;
  --primary-600: 230 168 0;
  --primary-700: 204 145 0;
  --primary-800: 179 122 0;
  --primary-900: 153 102 0;
}

[data-theme="red"] {
  --color-primary-100: 249 205 211;
  --color-primary-200: 243 163 170;
  --color-primary-300: 236 121 129;
  --color-primary-400: 230 79 89;
  --color-primary-500: 230 57 70;
  --color-primary-600: 207 47 61;
  --color-primary-700: 184 37 52;
  --color-primary-800: 160 27 43;
  --color-primary-900: 137 19 33;
}

[data-theme="blue"] {
  --primary-100: 219 234 254;
  --primary-200: 191 219 254;
  --primary-300: 147 197 253;
  --primary-400: 96 165 250;
  --primary-500: 59 130 246;
  --primary-600: 37 99 235;
  --primary-700: 29 78 216;
  --primary-800: 30 64 175;
  --primary-900: 30 58 138;
}

[data-theme="purple"] {
  --primary-100: 243 232 255;
  --primary-200: 233 213 255;
  --primary-300: 216 180 254;
  --primary-400: 192 132 252;
  --primary-500: 168 85 247;
  --primary-600: 147 51 234;
  --primary-700: 126 34 206;
  --primary-800: 107 33 168;
  --primary-900: 88 28 135;
}

[data-theme="green"] {
  --primary-100: 220 252 231;
  --primary-200: 187 247 208;
  --primary-300: 134 239 172;
  --primary-400: 74 222 128;
  --primary-500: 34 197 94;
  --primary-600: 22 163 74;
  --primary-700: 21 128 61;
  --primary-800: 22 101 52;
  --primary-900: 20 83 45;
}



* {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .card {
    @apply bg-darkslate-500 shadow-md rounded-lg p-6 sm:min-h-max text-darkslate-200 font-light p-6 border border-darkslate-400 hover:border-primary-500 transition-all duration-300 ease-out;
  }

  .button {
    @apply h-full w-fit text-xl max-h-[50px] shadow-[2px_2px] shadow-primary-500 active:shadow-none active:translate-x-[3px] active:translate-y-[3px] border border-r-2 text-darkslate-50 px-5 py-2 border border-primary-500 hover:text-primary-500 transition-colors duration-100 ease-in-out bg-darkslate-900 cursor-pointer rounded-lg text-center;
  }

  .popover {
    @apply relative w-auto px-4 py-2  bg-darkslate-900 border border-primary-500 text-darkslate-50 rounded-lg text-sm whitespace-normal text-center;
  }

  .popover::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid rgb(var(--primary-500));

  }

  

  .text-muted {
    @apply text-darkslate-300 font-light text-xs;
  }

  .arrow-up-right {
    @apply group-hover:text-primary-500 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100;
  }

  .theme-active {
    @apply ring-2 ring-white;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}