---
import "../styles/global.css";
---

<Fragment>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      const savedTheme = localStorage.getItem("theme");

      if (savedTheme) {
        document.documentElement.setAttribute("data-theme", savedTheme);
      }
    </script>
  </head>
  <div
    class="bg-darkslate-900 text-darkslate-200 w-full min-h-screen flex flex-col gap-8 md:py-6 md:px-30"
  >
    <div>
      <a href="/">Voltar</a>
    </div>
    <h1 class="font-extrabold text-4xl text-center mb-12">Em construção...</h1>
  </div>
</Fragment>
