---
import "../styles/global.css";
import Guestbook from '../components/Guestbook'
---

<Fragment>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      const savedTheme = localStorage.getItem("theme");

      if (savedTheme) {
        document.documentElement.setAttribute("data-theme", savedTheme);
      }
    </script>
  </head>
  <div
    class="bg-darkslate-900 text-darkslate-200 w-full min-h-screen flex flex-col gap-8 md:py-6 md:px-30"
  >
    <div>
      <a href="/">Voltar</a>
    </div>
    <div>
      <div>
        <h1>Em construção...</h1>
        <h1 class="font-extrabold text-3xl text-center mb-12 pt-16">
          Livro de recados
        </h1>
        <p class="text-center -mt-8 text-muted text-lg">
          Deixe sua mensagem, compartilhe seus pensamentos ou ideias :D
        </p>
      </div>
      
      <Guestbook client:load />
    </div>
  </div>
</Fragment>
