---
---

<div class="card row-span-3 flex flex-col gap-4 text-sm overflow-auto no-scrollbar">
  <div>
    <h1 class="font-extrabold text-lg mb-1">Sobre mim</h1>
    <p >Olá, me chamo Rafael, e sou desenvolvedor front-end, atualmente morando em São Paulo.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>Minhas ferramentas de trabalho incluem:</p>
    <ul class="flex flex-col text-xs list-disc">
      <div class="flex flex-col gap-1 ml-6 mt-2">
        <li>JavaScript</li>
        <li>React</li>
        <li>Next.js</li>
        <li>Astro</li>
        <li>Tailwind</li>
      </div>
    </ul>
  </div>

  <div class="text-darkslate-200">
    <p >Além do código, gosto de leitura, academia e atividades criativas de forma geral.</p> 
    <p class="mt-2">Tenho interesse em narrativas, mundos fictícios e na forma como histórias são construídas.</p>
    <p class="mt-2">Costumo sempre buscar novos hobbies, o que já me levou a aprender crochê, violão, desenho, 
      cubo mágico e outras atividades ao longo do tempo.</p>
  </div>
</div>