---
import { ChevronDown } from "@lucide/astro";
---

<div class="card group lg:row-span-3 lg:col-span-1">
    <div class="flex flex-col gap-4 text-sm h-full ">
      <div class="overflow-y-auto no-scrollbar">
        <div >
          <h1 class="font-extrabold text-xl mb-1">Sobre mim</h1>
          <p >Olá, me chamo Rafael. Sou desenvolvedor front-end, formado em <span class="font-bold">Analise e Desenvolvimento de Sistemas</span>, e atualmente estou cursando <span class="font-bold">Ciência da Computação.</span></p>
        </div>
        <div class="flex flex-col gap-1">
          <p>Minhas ferramentas de trabalho incluem:</p>
          <ul class="flex flex-col text-xs list-disc">
            <div class="flex flex-col gap-1 ml-6 mt-2">
              <li>JavaScript</li>
              <li>React</li>
              <li>Next.js</li>
              <li>Astro</li>
              <li>Tailwind</li>
            </div>
          </ul>
        </div>
      
        <div class="text-darkslate-200 mt-3">
          <p >Além do código, gosto de leitura, academia e atividades criativas de forma geral.</p> 
          <p class="mt-2">Tenho interesse em narrativas, mundos fictícios e na forma como histórias são construídas.</p>
          <p class="mt-2">Costumo sempre buscar novos hobbies, o que já me levou a aprender crochê, violão, desenho, 
            cubo mágico e outras atividades ao longo do tempo.</p>
        </div>
      </div>
      <div class="flex justify-end">
        <ChevronDown class="group-hover:text-primary-500"/>
      </div>
    </div>
</div>