---
---

<div class="card lg:col-span-1 lg:row-span-1 md:row-span-1 md:col-span-3">
  <div class="flex w-full h-full gap-2 justify-center items-center ">
    <button id="red" class="alert w-10 h-10 rounded-full bg-[#e63946] cursor-pointer border-2 theme-active border-transparent"></button>
    <button id="yellow" class="alert w-10 h-10 rounded-full bg-yellow-500 cursor-pointer border-2 border-transparent"></button>
    <button id="blue" class="alert w-10 h-10 rounded-full bg-blue-500 cursor-pointer border-2 border-transparent"></button>
    <button id="purple" class="alert w-10 h-10 rounded-full bg-purple-500 cursor-pointer border-2 border-transparent"></button>
    <button id="green" class="alert w-10 h-10 rounded-full bg-green-500 cursor-pointer border-2 border-transparent"></button>
  </div>
</div>

<script>

  const buttons = document.querySelectorAll('button.alert');

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      document.documentElement.setAttribute('data-theme', button.id);
      buttons.forEach(btn => btn.classList.remove('theme-active'));
      button.classList.add('theme-active');
    });
  });
</script>