---
---

<div class="card lg:col-span-1 lg:row-span-1 md:row-span-1 md:col-span-3">
  <div class="flex w-full h-full gap-2 justify-center items-center ">
    <div class="w-10 h-10 rounded-full bg-[#e63946] cursor-pointer border-2 border-white"></div>
    <div class="w-10 h-10 rounded-full bg-yellow-500 cursor-pointer border-2 border-transparent"></div>
    <div class="w-10 h-10 rounded-full bg-blue-500 cursor-pointer border-2 border-transparent"></div>
    <div class="w-10 h-10 rounded-full bg-purple-500 cursor-pointer border-2 border-transparent"></div>
    <div class="w-10 h-10 rounded-full bg-green-500 cursor-pointer border-2 border-transparent"></div>
  </div>
</div>