---
---

<div class="card lg:col-span-1 lg:row-span-1 md:row-span-1 md:col-span-2">
  <div class="w-full h-full flex flex-col gap-2 text-center justify-center">
    <p class="hidden lg:flex text-sm">Este site foi desenvolvido com Astro + Tailwind</p>
    <p class="text-muted ">© 2026 - Rafael Rodrigues</p>
  </div>
</div>