---
---

<div class="card">
  <div class="w-full h-full flex flex-col gap-2 text-center justify-center">
    <p class="text-sm">Este site foi desenvolvido com Astro + Tailwind</p>
    <p class="text-muted ">© 2026 - Rafael Rodrigues</p>
  </div>
</div>