---
---

<div class="card lg:row-span-2 lg:col-span-1">
  <h1 class="font-extrabold text-lg mb-4">Vamos trabalhar juntos!</h1>

  <div class="flex flex-col gap-1 mb-4">
    <p class="text-muted">Contato</p>
    <p class="italic">rafaelkunzler@gmail.com</p>
    <p class="text-xs">São Paulo - Brasil</p>
  </div>

  <div class="flex flex-col gap-1">
    <p class="text-muted">Social</p>
    <div class="flex flex-col">
      <a href="https://www.linkedin.com/in/rafael-kunzler/" target="_blank" class="hover:text-white">Linkedin</a>
      <a href="https://github.com/RafaelKunzler" target="_blank" class="hover:text-white">Github</a>
      <a href="https://wa.me/5511965662378" target="_blank" class="hover:text-white">WhatsApp</a>
    </div>
  </div>
</div>