---

---
<div class="card h-full col-span-3 row-span-2">
  <div>
    <p class="text-darkslate-300 font-light text-xs">Bem vindo</p>
    <p>
      Oi, eu sou o <span class="font-bold">Rafael Rodrigues</span>, desenvolvedor front-end. Gosto de criar interfaces
      claras, funcionais e bem estruturadas, aplicando boas práticas e atenção aos
      detalhes.
    </p>
    <p>
      Fique à vontade para entrar em contato se quiser trocar ideias, colaborar ou
      conhecer melhor meu trabalho.
    </p>
  </div>
  <div>
    
  </div>

</div>
