---
import { Github } from '@lucide/astro';
import { Linkedin } from '@lucide/astro';
import { Laugh } from '@lucide/astro';

import { Image } from 'astro:assets';
import avatar from "../assets/avatar.png";
---
<div class="card lg:h-full lg:col-span-3 lg:row-span-2 md:col-span-5 md:row-span-4 lg:overflow-hidden justify-start">  
  <div class="flex w-full h-full">
    <div class="flex flex-col lg:w-9/12 md:justify-between gap-4">
      <div>
        <p class="text-muted">Bem vindo</p>
        <div class="flex flex-col gap-2 mt-1">
          <p class="">
            Oi, eu sou o <span class="font-black">Rafael Rodrigues</span>, desenvolvedor front-end. Gosto de criar interfaces
            claras, funcionais e bem estruturadas, aplicando boas práticas e atenção aos
            detalhes.
          </p>
          <p>
            Fique à vontade para entrar em contato se quiser trocar ideias, colaborar ou
            conhecer melhor meu trabalho.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap text-center gap-6">
        <a href="https://github.com/RafaelKunzler" target="_blank" class="button"><Github /></a>
        <a href="https://www.linkedin.com/in/rafael-kunzler/" target="_blank" class="button"><Linkedin /></a>
        <Laugh class="button"/>
        <a href="https://wa.me/5511965662378" class="button font-black" target="_blank">Fale Comigo</a>
      </div>
    </div>
    <div class="hidden xl:flex lg:w-3/12 ">
      <Image src={avatar} alt="Avatar" class="opacity-70 object-contain self-start"/>
    </div>
  </div>

</div>
